{% extends 'base.html' %}

{% block title %}
	Pagina Sobre Nosotros
{% endblock %}

{% block content %}
	<h2>Mision</h2>
	<p>Somos un concesionario que contribuye a mejorar la competitividad, productividad y gestión  con la entrega de soluciones efectivas en nuestros servicios, brindando evaluación constante de nuestros procesos basados en el profesionalismo y la ética de nuestro equipo humano Comprometido  con  nuestros  clientes, con el fin de brindarles servicios en venta y postventa, evaluando  la conformidad de nuestros clientes garantizándoles su fidelización.</p>
	<br><br>
	<h2>Vision</h2>
	<p>En el 2016 ser un concesionario reconocido a nivel nacional por su excelencia en la gestión del logro de nuestros objetivos y la satisfacción de nuestros clientes, a través de la calidad en nuestros procesos y valores, los cuales  generarán fidelidad garantizando permanencia y rentabilidad tanto para nuestros colaboradores como para nuestros clientes.
	</p>
	<br><br>
	<h2>Politicas de calidad</h2>
	<p> Lograr  las necesidades y expectativas de nuestros clientes con calidad  y mejoramiento
 	Mantener al personal capacitado para el desarrollo de sus funciones dentro del concesionario.
 	Contar con  las herramientas e instalaciones adecuadas y acordes con  las innovaciones que nos exige el mercado automotriz.</p>
 	<br><br>
 	<h2>Valores</h2>
 	<p><ul>
 	<li>Honestidad</li>
	<li>Respeto</li>
	<li>Compromiso</li>
	<li>Lealtad</li>
	<li>Responsabilidad</li>
	</ul></p>
	<h3>{{ msg }}</h3>

{% endblock %}