{% extends 'base.html' %}

{% block title %}
	Lista de colores
{% endblock %}

{% block content %}
	<h1>Colores</h1>
	{% if user.is_authenticated %}
		<a Class="btn btn-primary " href="{% url 'vista_agregar_color'%}"><li class = "icon-plus"></li>Agregar Color</a>
		<br>
	{% endif %}

	{% if color %}
	<table class = "table table-hover">
		<theader>
			<tr>
				<th>Color</th>
				<th>RGB</th>
			</tr>
		</theader>
		{% for ca in color %}
			<tbody>
				<tr>
					<td>{{ ca.nombrecolor }}</td>
					<td>{{ ca.colhex}}</td>
					<td>
						{% if user.is_authenticated %}
						<a class = "btn" href = "/edit/color/{{ ca.id }}"><li class = "icon-pencil"></li> Editar</a>
						{% endif%}
					</td>
				</tr>
			</tbody>
		{% endfor %}
	</table>
	{% else %}
		<h2>No existen colores</h2>
	{% endif %}
	{% if color%}
	<div class="pagination">
		<div class ="pagination pagination-centered">
			<ul>
				<li><a href="/colores/page/1"> << </a> </a></li>
					{%if color.has_previous%}
					<li><a href="/colores/page/{{color.previous_page_number}}">Anterior</a></li>
					{%else%}
						<li><a href="#">Anterior </a></li>
					{%endif%}

					{% if color.has_next %}
						<li><a href ="/colores/page/{{color.next_page_number}}">Siguiente</a></li>
					{% else %}
						<li><a href ="#">Siguiente</a></li>
					{% endif %}
						<li><a href= "/colores/page/{{color.paginator.num_pages}}"> >> </a> </li>
			<ul>
		</div>
	</div>
		<br>
		<h3>Pagina {{color.number}} de {{color.paginator.num_pages}}</h3>
		{% endif%}
{% endblock %}