<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Concesionario{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="/media/Bootstrap/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/media/Bootstrap/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/media/css/excite-bike/jquery-ui-1.10.3.custom.css">

	<script scr="/media/js/ajax.js"></script>
	<script scr="/media/jquery.js"></script>
	<script scr="/media/jquery-ui.js"></script>
	<script scr="/media/boostrap/js/boostrap.js"></script>
	<style type="text/css">
		body{

			padding-top:60px;
			padding-bottom:40px ;
		}
		.hero-unit{padding-top: 39px;}
		.sidebar-nav{padding: 9px;}


	</style>

	
</head>
<body>
	<div class= "navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" <a href="{% url 'vista_principal'%}">Inicio</a>
			<ul class = "nav">
				<li><a href="/carros/page/1">Carros</a></li>
				<li><a href="{% url 'vista_about'%}">Acerca de ...</a>
				<li><a href="{% url 'vista_contacto'%}">Contacto</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'vista_administrador'%}"> Admin</a></li>		
					<li><a href = "{% url 'vista_logout' %}">Cerrar Sesion</a></li>
				{% else%}
					<li><a href = "{% url 'vista_login' %}">Login</a></li>
				{% endif%}
			</ul>
		</div>
	</div>
	<div class = "container-fluid">
		<div class= "row-fluid">
			<div class = "span9">
				<div class="hero-unit">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div class ="span3">
				<center>
				<div class = "well sidebar-nav">
					<div class = "nav nav-list"></div>
					<li class = "nav-header"><h5>Mi catalogo de carros</h5></li>
					<img src="/media/images/sena_logo.png" height= "100px" width = "100px"/>
					<br><br>
					<h4> Informacion</h4>
					<div class = "alert alert-info">
						<p><b>Direccion: </b>SENA Alto Cauca</p>
						<p><b>Celular: </b>3044629660</p>
						<p>Popayan - Cauca</p>
						<p>Jhon Alejandro M. & Rafael Mera</p>
					</div>
					<div aling= "center">
						<img src="/media/images/django.gif"/>
					</div>
					<br><br>
					<div aling= "center">
						<img src="/media/images/facebook_logo.png" height = "50px" width = "50px"/>
						<img src="/media/images/twitter_logo.png" height = "50px" width = "50px"/>
					</div>
					</center>
				</div>
			</div>
		</div>
	</div>
</body>
</html>